# Ignore everything.
*
*/**

# Whitelist what you need.
!.vscodeignore
!package.json
!images/icon/logo.png
!themes/shades-of-purple-color-theme.json
!themes
!themes/*
!readme.md
!code-of-conduct.md
!changelog.md
