/**
 * Checkout this CSS File.
 */

.theme {
	color: #b362ff;
}

a {
	text-decoration: none;
	opacity: 0.8;
}

a:hover {
	opacity: 1;
}
.css-class {
	color: #bada55;
}

#css-id {
	background: goldenrod;
}
